{% block header_content %}
    <div class='col-3'>
        <div class='header-content-left'>
            <p>Footer lewa strona </p>
        </div>
    </div>
    <div class='col-3'>
        <div class='header-content-right'>
            <p>Footer środek </p>
        </div>
    </div>
    <div class='col-6'>
        <div class='header-content-right'>
            <p>Footer prawa strona </p>
        </div>
    </div>
{% endblock %}

