{% block header_content %}
    <div class='col-6'>
        <div class='header-content-left'>
            <p>Header lewa strona </p>
        </div>
    </div>
    <div class='col-6'>
        <div class='header-content-right'>
            <p>header prawa strona </p>
        </div>
    </div>
{% endblock %}

